.container {
  border-radius: 2rem;
}
.container formm {
  position: relative;
  display: flex;
  justify-content: center;
}
.container form input {
  position: fixed;
  bottom: 3rem;
  width: 60%;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 2rem;
  outline: none;
}
.container form button {
  display: none !important;
}
