.container {
  flex: 0.7;
  flex-grow: 1;
  overflow-y: scroll;
  margin-top: 6rem;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px solid lightgray;
}
.headerLeft {
  display: flex;
  align-items: center;
}
.headerLeft h4 {
  display: flex;
  text-transform: lowercase;
  margin-right: 1rem;
}
.headerLeft .MuiSvgIcon-root {
  margin-left: 1rem;
  font-size: 1.8rem;
}
.headerRight p {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}
.headerRight p .MuiSvgIcon-root {
  margin-right: 0.5rem !important;
  font-size: 1.6rem;
}
.chat-bottom {
  padding-bottom: 20rem;
}
