.container {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: var(--slack-color);
  padding: 1rem 0;
  color: white;
}

.header-left {
  flex: 0.3;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 2rem;
}
.header-left button {
  background-color: var(--panchat-color);
  border: none;
}
.searchBar {
  flex: 0.6;
  opacity: 1;
  border-radius: 1rem;
  background-color: var(--panchat-color);
  text-align: center;
  display: flex;
  padding: 0 5rem;
  color: gray;
  border: 1px gray solid;
}
.searchBar input {
  background-color: transparent;
  border: none;
  text-align: center;
  min-width: 35vw;
  outline: 0;
  color: white;
  margin-left: auto;
  margin-right: 5rem;
}
